// 会場情報
ngx-datatable{
  &.roomDetails {
    width: 98vw;
    /* 上下 | 左右 */
    padding: 0rem 0.5rem  !important;
    overflow-y: hidden;

    left: 0;
    right: 0;
    bottom: 0;

    font-size: 120%;
  }

  mat-form-field{
    width: 100%;
  }
}

:host ::ng-deep {
  .datatable-body {
    .datatable-body-row {
      .datatable-body-cell {

        /* 上 | 右 | 下 | 左 */
        padding: 0.5rem 0.1rem  0.5rem 1.2rem !important;
      }
    }
  }
}

.view{
  width: 100vw;
}

.Prefix, .Suffix, .Message{
  font-size: 120%;
  padding-right: 5px !important;
}

.midium {
  font-size: medium;
}

.UseDateField{
  width: 230px;
  margin-left: 10px;
}
.UseDate{
  font-size: 120%;
}


