<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="30" fxFlex="100">
    <mat-card class="pa-0">
      <mat-tab-group >
        <mat-tab>
          <ng-template matTabLabel>エージェントマスタ</ng-template>
            <mat-card-content class="pa-1">
              <form fxLayout="column" [formGroup]="agentForm">

                <mat-form-field class="mb-1">
                  <input matInput placeholder="エージェントコード" [readonly]="updateFlg" [ngClass]="{'readonly':updateFlg}" formControlName="agentCode" required>
                    <div *ngIf="agentForm.controls['agentCode'].invalid && (agentForm.controls['agentCode'].touched || agentForm.controls['agentCode'].dirty)">
                      <small *ngIf="agentForm.controls['agentCode'].hasError('required')" class="mat-text-warn">{{msgRequid}}</small>
                      <small *ngIf="agentForm.controls['agentCode'].hasError('maxlength')" class="mat-text-warn">{{msgMaxLengthCode}}</small>
                      <small *ngIf="agentForm.controls['agentCode'].hasError('pattern')" class="mat-text-warn">{{msgPatternAlphabet}}</small>
                    </div>
                </mat-form-field>

                <mat-form-field class="mb-1">
                  <input matInput placeholder="名称" formControlName="agentName" required>
                  <div *ngIf="agentForm.controls['agentName'].invalid && (agentForm.controls['agentName'].touched || agentForm.controls['agentName'].dirty)">
                    <small *ngIf="agentForm.controls['agentName'].hasError('required')" class="mat-text-warn">{{msgRequid}}</small>
                    <small *ngIf="agentForm.controls['agentName'].hasError('maxlength')" class="mat-text-warn">{{msgMaxLengthName}}</small>
                  </div>
              </mat-form-field>

              <mat-form-field class="mb-1">
                <input matInput placeholder="備考" formControlName="remarks" >
                <small *ngIf="agentForm.controls['remarks'].hasError('maxlength')" class="mat-text-warn">{{msgMaxLengthRemarks}}</small>
              </mat-form-field>

              <mat-form-field class="mb-1">
                  <input matInput placeholder="表示順" formControlName="displayOrder" required>
                  <div *ngIf="agentForm.controls['displayOrder'].invalid && (agentForm.controls['displayOrder'].touched || agentForm.controls['displayOrder'].dirty)">
                    <small *ngIf="agentForm.controls['displayOrder'].hasError('required')" class="mat-text-warn">{{msgRequid}}</small>
                    <small *ngIf="agentForm.controls['displayOrder'].hasError('min')" class="mat-text-warn">{{msgMin1}}</small>
                    <small *ngIf="agentForm.controls['displayOrder'].hasError('max')" class="mat-text-warn">{{msgMax9999}}</small>
                    <small *ngIf="agentForm.controls['displayOrder'].hasError('pattern')" class="mat-text-warn">{{msgPatternNumber}}</small>
                  </div>
                </mat-form-field>
              </form>

            </mat-card-content>
          </mat-tab>
        </mat-tab-group>
      <mat-card-actions class="pa-1">
        <button mat-raised-button color="primary"(click)="onSubmit()"[disabled]="agentForm.invalid">保存</button>
        <button mat-raised-button color="accent" (click)="cancel()">中止</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
