<mat-toolbar-row  style="margin-top: 5px;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <span style="font-size: 24px;font-weight:bold;">部屋マスタ</span>
  <span fxFlexOffset="auto">
    <button mat-raised-button [routerLink]="['../displaylocation']">
      <span *ngIf="exsitNotSetLocation">
        <span matTooltip="表示位置が未設定の部屋があります。">
          <mat-icon style="font-size: 16pt; color: red;">error</mat-icon>
        </span>
      </span>
      部屋表示設定
    </button>
  </span>
</mat-toolbar-row>
<ngx-datatable class="material fullscreenMas" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="0"
  [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="rooms" [messages]="ngx_table_messages">
  <ngx-datatable-column>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a mat-icon-button [routerLink]="['../form/', row.roomNo]">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-icon-button aria-label="Delete" (click)="delete(row.roomNo)">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="部屋番号" prop="roomNo"></ngx-datatable-column>
  <ngx-datatable-column name="部屋名" prop="roomName"></ngx-datatable-column>
  <ngx-datatable-column name="備考" prop="remarks"></ngx-datatable-column>
  <ngx-datatable-column name="フロア" prop="floorName"></ngx-datatable-column>
  <ngx-datatable-column name="部屋タイプ" prop="roomTypeName"></ngx-datatable-column>
  <ngx-datatable-column name="禁煙/喫煙" prop="smokingDivisionName"></ngx-datatable-column>
  <ngx-datatable-column name="作成者" prop ="creator"></ngx-datatable-column>
  <ngx-datatable-column name="作成日" prop="cdt">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value.substr(0,4) + '/' + value.substr(4,2) + '/' + value.substr(6,2) }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="更新者" prop ="updator"></ngx-datatable-column>
  <ngx-datatable-column name="更新日" prop="udt">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value.substr(0,4) + '/' + value.substr(4,2) + '/' + value.substr(6,2) }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
<a mat-fab [routerLink]="['../form/', '']" color="warn" class="mat-fab-bottom-right" style="z-index: 9;">
  <mat-icon class="mat-24">add</mat-icon>
</a>
