// // @import "../../../assets/styles/scss/material.variables";

// .datatable,
// .datatable>div,
// .datatable.fixed-header .datatable-header .datatable-header-inner {
.blue{
    background-color: rgb(107, 208, 241);
}

.green{
    background-color: rgb(46, 241, 7);
}

.red{
    background-color: rgb(241, 89, 28);
}

.white{
    background-color: rgb(231, 240, 229);
}

.lightBlue{
    background-color: rgb(135, 182, 243);
}

.gray{
    background-color: rgb(138, 138, 139);
}

.numeric{
  text-align: right;
  }
