<mat-toolbar-row  style="margin-top: 5px;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <span style="font-size: 24px;font-weight:bold;">WEB連携 - プラン変換マスタ</span>
</mat-toolbar-row>
<ngx-datatable class="material fullscreenMas" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="0"
  [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="planconverts" [messages]="ngx_table_messages">
  <ngx-datatable-column>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a mat-icon-button [routerLink]="['../form/', row.scCd, row.scPackagePlanCd, row.scMealCond, row.scSpecMealCond]">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-icon-button aria-label="Delete" (click)="delete(row.scCd, row.scPackagePlanCd, row.scMealCond, row.scSpecMealCond)">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="サイトコントローラー名" prop="cdName"></ngx-datatable-column>
  <ngx-datatable-column name="企画パッケージプランコード" prop="scPackagePlanCd"></ngx-datatable-column>
  <ngx-datatable-column name="食事条件" prop="scMealCond"></ngx-datatable-column>
  <ngx-datatable-column name="食事有無情報" prop="scSpecMealCond"></ngx-datatable-column>
  <ngx-datatable-column name="商品" prop="itemName"></ngx-datatable-column>
  <ngx-datatable-column name="作成者" prop ="createClerk"></ngx-datatable-column>
  <ngx-datatable-column name="作成日" prop="createDatetime">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value.substr(0,4) + '/' + value.substr(4,2) + '/' + value.substr(6,2) }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="更新者" prop ="updateClerk"></ngx-datatable-column>
  <ngx-datatable-column name="更新日" prop="updateDatetime">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value.substr(0,4) + '/' + value.substr(4,2) + '/' + value.substr(6,2) }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
<a mat-fab [routerLink]="['../form/', '', '', '', '']" color="warn" class="mat-fab-bottom-right" style="z-index: 9;">
  <mat-icon class="mat-24">add</mat-icon>
</a>
