<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="40" fxFlex="100">
    <mat-card class="pa-0">
      <mat-tab-group >
        <mat-tab>
          <ng-template matTabLabel>WEB連携 - 部屋タイプ変換マスタ</ng-template>
            <mat-card-content class="pa-1">
              <form fxLayout="column" [formGroup]="roomTypeConvertForm">

                <mat-form-field class="mb-1">
                  <mat-select [disabled]="updateFlg" [ngClass]="{'readonly':updateFlg}" placeholder="サイトコントローラー名" formControlName="scCd" required>
                    <mat-option *ngFor="let op of codes" [value]="op.scSegCd">{{ op.content1 }}</mat-option>
                  </mat-select>
                  <div *ngIf="roomTypeConvertForm.controls['scCd'].invalid && (roomTypeConvertForm.controls['scCd'].touched || roomTypeConvertForm.controls['scCd'].dirty)">
                    <small *ngIf="roomTypeConvertForm.controls['scCd'].hasError('required')" class="mat-text-warn">{{msgRequid}}</small>
                  </div>
                </mat-form-field>

                <mat-form-field class="mb-1">
                  <input [readonly]="updateFlg" [ngClass]="{'readonly':updateFlg}" matInput placeholder="サイト部屋タイプコード" formControlName="scRmtypeCd" required>
                  <div *ngIf="roomTypeConvertForm.controls['scRmtypeCd'].invalid && (roomTypeConvertForm.controls['scRmtypeCd'].touched || roomTypeConvertForm.controls['scRmtypeCd'].dirty)">
                    <small *ngIf="roomTypeConvertForm.controls['scRmtypeCd'].hasError('required')" class="mat-text-warn">{{msgRequid}}</small>
                    <small *ngIf="roomTypeConvertForm.controls['scRmtypeCd'].hasError('pattern')" class="mat-text-warn">{{msgPatternAlphabet}}</small>
                    <small *ngIf="roomTypeConvertForm.controls['scRmtypeCd'].hasError('maxlength')" class="mat-text-warn">{{msgMaxLength30}}</small>
                  </div>
                </mat-form-field>

                <mat-form-field class="mb-1">
                  <mat-select placeholder="部屋タイプ" formControlName="rmtypeCd" required>
                    <mat-option *ngFor="let op of roomtypes" [value]="op.code">{{ op.codeName }}</mat-option>
                    <mat-option unspecified [value]="unspecified.key" [disabled]="true">{{unspecified.value}}</mat-option>
                  </mat-select>
                  <div *ngIf="roomTypeConvertForm.controls['rmtypeCd'].invalid && (roomTypeConvertForm.controls['rmtypeCd'].touched || roomTypeConvertForm.controls['rmtypeCd'].dirty)">
                    <small *ngIf="roomTypeConvertForm.controls['rmtypeCd'].hasError('required')" class="mat-text-warn">{{msgRequid}}</small>
                    <small *ngIf="roomTypeConvertForm.controls['rmtypeCd'].hasError('pattern')" class="mat-text-warn">部屋タイプ{{msgChooseArticle}}</small>
                  </div>
                </mat-form-field>

              </form>
            </mat-card-content>
          </mat-tab>
        </mat-tab-group>
      <mat-card-actions class="pa-1">
        <button mat-raised-button color="primary"(click)="onSubmit()"[disabled]="roomTypeConvertForm.invalid">保存</button>
        <button mat-raised-button color="accent" (click)="cancel()">中止</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
